
.App{
  background:#9fecff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



.Box{
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  width:90vw;
  flex-wrap: wrap;
  padding: 22px;
  margin: auto;
  background:#9fecff;

}

.Deatils-Box{
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  /* width:90vw; */
  flex-wrap: wrap;
  padding: 10px 10px;
  /* margin: auto; */
}

/* style={{background:"#e3edef"}} */

.saveBtn{
  background: #ebf8f9;
  padding: 5px;
  border: 1px dotted #0bfdfd;
  border-radius: 50%;
  cursor: pointer;
}


.search{
  padding: 5px 50px;
  margin: 0 10px;
  background: transparent;
  

}

.NavBar{
  display: flex;
  flex-direction: row;
  padding: 15px 25px;
  background:#e0f9ff;
  width:84%;
  margin: auto;
  
}

.Options{
  background: transparent;
 
  border: none;
}

.Pagination{
  width:30%;
  margin: auto;
}

.Pagination ul{
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: auto;

}

.Pagination ul li{
  list-style: none;
  margin: 3px;
  
  
}
.Pagination ul li button{
  text-decoration: none;
  color: #111;
  
}